n8n/tag-generation.workflow.json
{
  "name": "Wall of Fame — Tag generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wall-of-fame-tags",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wall-of-fame-tags"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.2, messages: [ { role: 'system', content: 'You extract concise topic tags from a student achievement description. Return ONLY a JSON array of 2 to 3 short UPPERCASE tags — skills, fields, or notable organisations/conferences (e.g. [\"AI\",\"GOOGLE\",\"DESIGN\"]). No prose, no explanation.' }, { role: 'user', content: ($json.body && $json.body.about) ? String($json.body.about) : '' } ] }) }}",
        "options": {}
      },
      "id": "openai-node",
      "name": "OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Turn the model's reply into a clean { tags: [...] } payload.\nconst res = $input.first().json;\nconst raw = res?.choices?.[0]?.message?.content ?? res?.content ?? '';\nlet text = String(raw).trim();\nlet tags = [];\nconst m = text.match(/\\[[\\s\\S]*\\]/);\nif (m) { try { tags = JSON.parse(m[0]); } catch (e) {} }\nif (!Array.isArray(tags) || !tags.length) { tags = text.split(/[,\\n]/); }\ntags = tags\n  .map((t) => String(t).replace(/[\"'.\\[\\]]/g, '').trim().toUpperCase())\n  .filter(Boolean)\n  .slice(0, 3);\nreturn [{ json: { tags } }];"
      },
      "id": "format-node",
      "name": "Format tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "OpenAI", "type": "main", "index": 0 }]] },
    "OpenAI": { "main": [[{ "node": "Format tags", "type": "main", "index": 0 }]] },
    "Format tags": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "meta": {}
}
